{% extends 'core/base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block headers %}
    <h1>Sobre mi</h1>
    <span class="subheading">Ayer no te vi</span>
{% endblock %}

{% block content %}
    <!-- Proyecto -->
	<div class="container">
      <div class="row">
	      <div class="span8">
	      <h1>Més sobre mi</h1>
            <span class="subheading">correu electrònic</span>				
				<p>Amb les que sempre anem, de fer tenir com a principals defere
				traerá una verdad, que por postergada va sumando dolores
				indecibles....</p><br>
				<p>Aquesta serà la més precissa peculiaritat en els esquemes de
				les quatre opcions </p>
			</div>
		</div>
    </div>
{% endblock %}