{% extends 'core/base.html' %}
{% load static %}

{% block title %}Cookies{% endblock %}

{% block headers %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="span8">
    <h1>Seguridad</h1>
    <span class="subheading">privacidad</span>
    <p>Canvi de dades personals peritr [the Earth]
        diminished in size. Finally it shrank to the size of a marble,
        the most beautiful you can imagine. That beautiful, warm....</p>
    <p><a href="http://google.com">Más información</a></p>
    </div>
    </div>
</div>
{% endblock %}